*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Open Sans,Arial,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4)),url(https://cdn.pixabay.com/index/2025/07/17/13-49-05-69_1440x550.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    
}
    

  


#nav{
    border:none;
}

#sub-nav{
    border: none;
    
}

#sub-nav div section svg{
    height: 2.5em;
    /* position: absolute; */
    right:96em;
    color: white;

}

#sub-nav div{
    /* position: absolute; */
    top: 10px;
    left: 65%;
    width: 95%;
    margin: 0  auto;
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    
}

#sub-nav div span{
    padding-left: 10px;
    border: none;
}



#demo{
    border-radius:50px;
    padding: 0.5em 20px;
    
    border: 1px solid whitesmoke;
    background-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 15px;
    
  
    


}

#demo1{
    border-radius: 50px;
    padding: 0.5em 20px;
    background-color: #00AB6B;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 15px;
    position: relative;
    
    

   
}

.demo2{
    border: none;
    border-radius: 50px;
    padding: 0.5em 20px;
    background-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 15px;
}



img{
    /* background-color: black;
    opacity: 0.5; */
    border: 2px solid;
    height: 525px;
    width: 100%;
}

h1{
    color: white;
    position: absolute;
    top: 25.6%;
    left: 20.5%; 
   
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    font-family: Open Sans,Arial,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue;
}

#sub-nav aside{
    
    /* border: 2px solid red; */
    width: 500px;
}

main:last-child{
    list-style: none;
    color: white;
   
    margin-top: 16%;
    word-spacing: 10px;
    margin-left: 23%;
}

#button{
    display:flex;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    width: 53%;
    position: absolute;
    top: 36%;
    left: 22%;
    
    
}

.button1{
    padding: 10px 10px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    color: white;


}

.second{
    background-color: white;
    color: black;
}

.button1:hover{
    cursor: pointer;
    background-color: #ffffff52;
    /* opacity: 0.4; */
    color: white;
    
    
}

span:nth-child(5){
    /* border: 2px solid red; */
    position: absolute;
    top: 48%;
    left: 16%;
    
    
}

span:nth-child(5) input{
    padding: 20px 40px;
    border-radius: 50px;
    border: none;
    width: 890px;
    position: absolute;
    background-color: #ffffff52;
    
    

}

span:nth-child(5) input::placeholder{
    color: white;
    font-size: 17px;
}



#button2{
   
    position: absolute;
    top: 60%;
    left: 16%;
}

.button3{
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #ffffff3d;
    border: none;
    color: white;
    margin-left: 8px;
}

p:nth-child(7){
    color: white;
    
    
    position: absolute;
    top:79%;
    left: 20px;

}

p:nth-child(8){
    color: white;
    
    
    position: absolute;
    top:79%;
    right: 20px;

}

h3{
    position: absolute;
    top: 90%;
    left: 50px;
}


#parent{
    /* border: 2px solid blueviolet; */
    position: absolute;
    top: 38em;
    height: 1080px;
    width: 100%;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;  */
    gap: 20px; 
    grid-template-areas: "a b c d"
                         "e b c h"
                         "e j k i"
                         "m n k i"
                         "q r s t";
    
}

#item,#item1,#item2,#item3,#item4,#item5,#item6,#item7,#item8,#item9,#item10,#item11,#item12,#item13,#item14{
    border: #fff;
    

}

#item{
    overflow: hidden;
    height: 200px;
    width: 300px;
    grid-area: a;
   
}
#item1{
    overflow: hidden;
    height: 420px;
    width: 300px;
    grid-area: b;
   
}
#item2{
    overflow: hidden;
    height: 420px;
    width: 300px;
    grid-area: c;
   
}
#item3{
    overflow: hidden;
    height: 200px;
    width: 300px;
    grid-area: d;
    
   
}
#item4{
    overflow: hidden;
    height: 420px;
    width: 300px;
    grid-area: e;
   
}

#item5{
    overflow: hidden;
    height: 200px;
    width: 300px;
    grid-area: h;
   
}

#item6{
    overflow: hidden;
    height: 200px;
    width: 300px;
    grid-area: j;
   
}

#item7{
    overflow: hidden;
    height: 420px;
    width: 300px;
    grid-area: k;
   
}

#item8{
    overflow: hidden;
    height: 420px;
    width: 300px;
    grid-area: i;
   
}

#item9{
    overflow: hidden;
    grid-area: m;
   
}

#item10{
    overflow: hidden;
   grid-area: n;
}

#item11{
    overflow: hidden;
    height: 200px;
    width: 300px;
    grid-area: q;
}

#item12{
    overflow: hidden;
    height: 200px;
    width: 300px;
    grid-area: r;
}

#item13{
    overflow: hidden;
    height: 200px;
    width: 300px;
    grid-area: s;
}

#item14{
    overflow: hidden;
    height: 200px;
    width: 300px;
    grid-area: t;
}


#item img{
    height: 200px;
    transition-duration: 1s;
}

#item1 img{
    height: 420px;
    transition-duration: 1s;
}

#item2 img{
    height: 420px;
    transition-duration: 1s;
}

#item3 img{
    height: 200px;
    transition-duration: 1s;
}

#item4 img{
    height: 420px;
    transition-duration: 1s;
}

#item5 img{
    height: 200px;
    transition-duration: 1s;
}

#item6 img{
    height: 200px;
    transition-duration: 1s;
}

#item7 img{
    height: 420px;
    transition-duration: 1s;
}

#item8 img{
    height: 420px;
    transition-duration: 1s;
}

#item9 img{
    height: 200px;
    transition-duration: 1s;
}

#item10 img{
    height: 200px;
    transition-duration: 1s;
}

#item11 img{
    height: 200px;
    transition-duration: 1s;
}

#item12 img{
    height: 200px;
    transition-duration: 1s;
}

#item13 img{
    height: 200px;
    transition-duration: 1s;
}

#item14 img{
    height: 200px;
    transition-duration: 1s;
}


#item img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item1 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item2 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item3 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item4 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item5 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item6 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item7 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item8 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item9 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item10 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item11 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item12 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item13 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}


#item14 img:hover{
       
    cursor: pointer;  
    transform: scale(1.5);
       
    
}











    


